.search {
  padding: 5px 0;
  display: flex;
  text-decoration-color: #e13d81;
  justify-content: center;
}
.headerBar {
  background-color: #141321;
  padding-bottom: 30px;
}
h2 {
  font-family: Open Sans;
  text-align: center;
  font-size: 400%;
  color: #e13d81;
}
.calculate {
  padding: 5px 0;
  display: flex;
  justify-content: center;
}
p {
  font-family: Open Sans;
  text-align: center;
  font-size: medium;
  color: #e13d81;
  font-weight: bold;
}
.main {
  background-color: #141321;
}
.card {
  padding: 10px 0;
  display: flex;
  background-color: #141321;
  text-decoration-color: #e13d81;
  font-family: Open Sans;
  justify-content: center;
}
h1 {
  font-family: Open Sans;
  text-align: center;
  color: #e13d81;
}
h3 {
  font-family: Open Sans;
  text-align: left;
  padding-left: 0px;
  color: #a4fff9;
}
.charts {
  padding: 20px;
  justify-content: center;
  display: flex;
}
.charts2 {
  padding: 20px;
  justify-content: center;
  display: flex;
}
.barChart {
  padding: 30px;
}
.treeChart {
  padding: 30px;
}
.stats {
  display: flex;
  justify-content: center;
}
