.search {
  padding: 5px 0;
  display: flex;
  text-decoration-color: #e13d81;
  justify-content: center;
}
.main {
  background-color: #141321;
}
.card {
  padding: 10px 0;
  display: flex;
  text-decoration-color: #e13d81;
  font-family: Inconsolata;
  justify-content: center;
}
h1 {
  font-family: Inconsolata;
  text-align: center;
  color: grey;
}
.charts {
  padding: 20px;
  justify-content: center;
  display: flex;
}
.barChart {
  padding: 30px;
}
.treeChart {
  padding: 30px;
}
.stats {
  display: flex;
  justify-content: center;
}
