.navbar {
  padding: 30px;
  background-color: grey;
  font-family: Inconsolata;
  font-size: 30px;
  color: white;
}
.search {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.main {
  background-color: white;
}
.card {
  padding: 30px 0;
  display: flex;
  font-family: Inconsolata;
  justify-content: center;
}
h1 {
  font-family: Inconsolata;
  text-align: center;
  color: grey;
}
.charts {
  padding: 20px;
  justify-content: center;
  display: flex;
}
.barChart {
  padding: 30px;
}
.treeChart {
  padding: 30px;
}
